{% extends "web/base.html" %}

{% block title %}
    {{ tag_name }} - SharEDITor - 关注大数据技术
{% endblock %}

{% block body %}

    <div class="row" style="margin: 0;">
        <div class="col-sm-3 hidden-xs"></div>
        <div class="col-sm-6 col-xs-12">
            <h1>{{ tag_name }}</h1>
        </div>
        <div class="col-sm-3 hidden-xs"></div>
    </div>
    <br />
    <div class="row" style="margin: 0;">
        <div class="col-sm-3 hidden-xs"></div>
        <div class="col-sm-6 col-xs-12">
            {% for blog_post in blog_posts %}
                <h4 style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><a href="{% url 'blog_show' %}?blogId={{ blog_post.id }}">{{ blog_post.get_simple_title }}</a></h4>
            {% endfor %}
        </div>
        <div class="col-sm-3 hidden-xs"></div>
    </div>
    <br />

{% endblock %}