{% extends "web/base.html" %}

{% block title %}
  小二兔聊天机器人
{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
  <style>
    body {
      background-color: RGB(31, 31, 31);
    }

    .container {
      max-width: 600px;
      height: 500px;
      padding-top: 20px;
    }

    #send:hover {
      cursor: pointer;
    }
  </style>

  <script>
    var showleft = false;

    var checkSystem = function () {
      var uaMap = {
        'android': /Android/i,
        'ios': /(?:iPhone|iPad)/i
      };
      var ua = window.navigator.userAgent;
      for (var i in uaMap) {
        if (uaMap[i].test(ua)) {
          return i;
        }
      }
      return null;
    };

    function submitByEnter() {
      if (event.keyCode == 13) {
        submit();
      }
    }

    function submit() {
      var input = $("#input").val().trim();
      if (input == '') {
        jQuery('#input').val('');
        return;
      }
      addText(input, false, query, input);
    }

    function query(input) {
      jQuery('#input').val('');

      jQuery('#info').html('机器人正在思考中,请稍后...');

      $.ajax({
        type: 'POST',
        url: '/chatbot/query',
        data: {
          input: input
        },
        success: callback
      });
    }

    function callback(res) {
      // CKEDITOR的setData是异步的，所以只能通过回调来写第二句
      var ansque = res.split('|');
      addText(ansque[0], true, addNext, ansque[1]);

      jQuery('#info').html('');
    }

    function addNext(text) {
      addText(text, true);
    }

    function addText(text, is_response, next_call, arg) {
      console.log(next_call);
      var oldText = CKEDITOR.instances.chatarea.getData();
      oldText = oldText.substr(0, oldText.length - 7);
      if (is_response && checkSystem() != 'ios' && checkSystem() != 'android') {
        showleft = !showleft;
      }
      var prefix = '';
      if (is_response) {
        prefix = "<div style='color: blue; text-align: left; padding: 5px;'>小二兔: ";
      } else {
        prefix = "<div style='color: darkgreen; text-align: right; padding: 5px;'>我: ";
      }
      var newText = oldText + "" + prefix + text + "</div></div>";
      CKEDITOR.instances.chatarea.setData(newText, function () {
        if (next_call) {
          next_call(arg);
        }
      });

      window.setTimeout(scrollDown, 50);
    }

    function scrollDown() {
      var editor = CKEDITOR.instances.chatarea;
      var jqDocument = $(editor.document.$);
      var documentHeight = jqDocument.height();
      jqDocument.scrollTop(documentHeight);
    }
  </script>
{% endblock %}

{% block body %}

  <div class="container">
    <textarea id="chatarea">
    </textarea>

    <br>

    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="input"
               placeholder="" autofocus="autofocus" onkeydown="submitByEnter()">
        <div id="send" class="input-group-addon" onmouseover="" style="cursor:hand" onclick="submit()">发送</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div style="color: white; height:20px;">
      <a target="_blank" href="/blogshow/?blogId=112">点击直接获取字幕语料库</a>
    </div>
    <div class="hidden-xs" style="color: #959595; height:20px;">觉得小二兔还有些答非所问?你也可以参照下面的文章自己训练一个</div>
  </div>


  <div id="corpus-form" style="position: absolute;top: 20%; width: 100%; z-index: 100;">
    <div class="row" style="width: 100%; font-size: 1.2rem;  text-align: left;">
      <div class="col-xs-1 col-md-3"></div>
      <div class="col-xs-10 col-md-6" style="border: 1px solid gray; border-radius: 10px; padding: 10px; background-color: #f5f5f5; ">
        <form class="form-inline" action="#">

          <div >
            <div style="font-size: 1.5rem; color: red; margin-bottom: 10px;">请选择你觉得最符合问题的答案</div>
            <div style="font-size: 1.5rem; font-weight: 800; margin-bottom: 10px;"><span style="font-weight: 100; color: #333;">问题：</span>{{ question }}</div>
            <button type=submit class="btn btn-default" style="font-size: 1rem; color: red; padding: 2px 4px; float: right;" onclick="return not_question()">这不像个问题</button>
            {% for answer in answers %}
              <div class="radio" style="margin-left: 10px;">
                <label>
                  <input style="font-weight: 800;" type="radio" name="optionsRadios" id="optionsRadios1" value="{{ answer.id }}" required>
                  {{ answer }}
                </label>
              </div>
            {% endfor %}
            <br><br>
            <input style="width: 70%;" class="form-control" id="udf-answer" type="text" placeholder="没有合适的答案，我来写一个吧">

            <br><br>
            <button type=submit class="btn btn-default" onclick="return submit_corpus()">提交</button>
          </div>
        </form>
      </div>
      <div class="col-xs-1 col-md-3"></div>
    </div>
  </div>



  <script type="text/javascript">
    if (checkSystem() == 'ios' || checkSystem() == 'android') {
      CKEDITOR.replace('chatarea',
          {
            readOnly: true,
            toolbar: ['Source'],
            height: 200,
            removePlugins: 'elementspath',
            resize_enabled: false,
            allowedContent: true
          });
    } else {
      CKEDITOR.replace('chatarea',
          {
            readOnly: true,
            toolbar: ['Source'],
            height: 400,
            removePlugins: 'elementspath',
            resize_enabled: false,
            allowedContent: true
          });
    }

    CKEDITOR.addCss('body{margin:0px;}');

    addText('<span style="color: red;">告诉你个小技巧：只有认真回答我的问题，我才会认真回答你的问题</span>', true);

    function not_question() {
      $('#corpus-form').addClass('hide');
      $.ajax({
        type: 'post',
        url: '/chatbot/bad_question',
        data: {
          'question_id': {{ question.id }}
        }
      });
      return false;
    }

    function submit_corpus() {
      // 单选按钮
      var chosed_answer = $("input[name='optionsRadios']:checked").val();
      // 用户自定义答案
      var udf_answer = $('#udf-answer').val();
      if (udf_answer.length > 0 || chosed_answer) {
        if (chosed_answer) {
          $.ajax({
            type: 'post',
            url: '/chatbot/like_answer',
            data: {
              'answer_id': chosed_answer
            }
          });
        }
        if (udf_answer.length > 0) {
          $.ajax({
            type: 'post',
            url: '/chatbot/udf_answer',
            data: {
              'question_id': {{ question.id }},
              'answer': udf_answer
            }
          });
        }
        $('#corpus-form').addClass('hide');
      }
      return false;
    }

    $('#top').addClass('hide');
  </script>

{% endblock %}
