{% extends "web/base.html" %}

{% block title %}
  小二兔聊天机器人
{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
  <style>
    body {
      background-color: RGB(31, 31, 31);
    }

    .container {
      max-width: 600px;
      height: 500px;
      padding-top: 20px;
    }

    #send:hover {
      cursor: pointer;
    }
  </style>

  <script>
    var showleft = false;

    var checkSystem = function () {
      var uaMap = {
        'android': /Android/i,
        'ios': /(?:iPhone|iPad)/i
      };
      var ua = window.navigator.userAgent;
      for (var i in uaMap) {
        if (uaMap[i].test(ua)) {
          return i;
        }
      }
      return null;
    };

    function submitByEnter() {
      if (event.keyCode == 13) {
        submit();
      }
    }

    function submit() {
      var input = $("#input").val().trim();
      if (input == '') {
        jQuery('#input').val('');
        return;
      }
      addText(input, false, query, input);
    }

    function query(input) {
      jQuery('#input').val('');

      jQuery('#info').html('机器人正在思考中,请稍后...');

      $.ajax({
        type: 'POST',
        url: '/chatbot/query',
        data: {
          input: input
        },
        success: callback
      });
    }

    function callback(res) {
      // CKEDITOR的setData是异步的，所以只能通过回调来写第二句
      var ansque = res.split('|');
      addText(ansque[0], true, addNext, ansque[1]);

      jQuery('#info').html('');
    }

    function addNext(text) {
      addText(text, true);
    }

    function addText(text, is_response, next_call, arg) {
      console.log(next_call);
      var oldText = CKEDITOR.instances.chatarea.getData();
      oldText = oldText.substr(0, oldText.length - 7);
      if (is_response && checkSystem() != 'ios' && checkSystem() != 'android') {
        showleft = !showleft;
      }
      var prefix = '';
      if (is_response) {
        prefix = "<div style='color: blue; text-align: left; padding: 5px;'>小二兔: ";
      } else {
        prefix = "<div style='color: darkgreen; text-align: right; padding: 5px;'>我: ";
      }
      var newText = oldText + "" + prefix + text + "</div></div>";
      CKEDITOR.instances.chatarea.setData(newText, function () {
        if (next_call) {
          next_call(arg);
        }
      });

      window.setTimeout(scrollDown, 50);
    }

    function scrollDown() {
      var editor = CKEDITOR.instances.chatarea;
      var jqDocument = $(editor.document.$);
      var documentHeight = jqDocument.height();
      jqDocument.scrollTop(documentHeight);
    }
  </script>
{% endblock %}

{% block body %}

  <div class="container">
    <textarea id="chatarea">
    </textarea>

    <br>

    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" id="input"
               placeholder="" autofocus="autofocus" onkeydown="submitByEnter()">
        <div id="send" class="input-group-addon" onmouseover="" style="cursor:hand" onclick="submit()">发送</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div style="color: white; height:20px;">
      <a target="_blank" href="/blogshow/?blogId=112">点击直接获取字幕语料库</a>
    </div>
    <div class="hidden-xs" style="color: #959595; height:20px;">觉得小二兔还有些答非所问?你也可以参照下面的文章自己训练一个</div>
  </div>

  <div id="event-trigger" onclick="addText('hello', true)"></div>


  <script type="text/javascript">
    if (checkSystem() == 'ios' || checkSystem() == 'android') {
      CKEDITOR.replace('chatarea',
          {
            readOnly: true,
            toolbar: ['Source'],
            height: 200,
            removePlugins: 'elementspath',
            resize_enabled: false,
            allowedContent: true
          });
    } else {
      CKEDITOR.replace('chatarea',
          {
            readOnly: true,
            toolbar: ['Source'],
            height: 400,
            removePlugins: 'elementspath',
            resize_enabled: false,
            allowedContent: true
          });
    }

    CKEDITOR.addCss('body{margin:0px;}');
  </script>

{% endblock %}
