{% extends "web/base.html" %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="row jumbotron" style="margin-right: 0">
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-10 col-xs-10"><h1>Welcome Big Data ITors!</h1></div>
        <div class="col-md-1 col-xs-1"></div>
    </div>

    <div class="row" style="margin-right: 0">
        <div class="col-sm-1 col-xs-1"></div>
        {% for tag in tags %}
            <div class="col-sm-2 col-xs-12">
                <div class="thumbnail">
                    <a href="{% url 'blog_list_by_tag' %}?tagname={{ tag.name }}"><img src="{{ tag.image }}" alt="tag"></a>
                    <div class="caption">
                        <h3><a href="{% url 'blog_list_by_tag' %}?tagname={{ tag.name }}">{{ tag.name }}({{ tag.blogpost_set.count }})</a></h3>
                        <p>
                            {% for blog_post in tag.blogpost_set.all %}
                                <a href="{% url 'blog_show' %}?blogId={{ blog_post.id }}">
                                    {{ blog_post.title }}
                                </a>
                            {% endfor %}
                        </p>
                        <h5><a href="{% url 'blog_list_by_tag' %}?tagname={{ tag.name }}">更多>>></a></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-sm-1 col-xs-1"></div>
    </div>

{% endblock %}